@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #ADD8E6;
  --background-start-rgb: #ADD8E6;
  --background-end-rgb: 255, 255, 255;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
